<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration debug="false" xmlns:log4j='http://jakarta.apache.org/log4j/'>
    
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %t %c - %m%n" />
        </layout>
    </appender>
    
    <appender name="rolling" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="jats-diff.log"/>
        <param name="MaxFileSize" value="100KB"/>
        <param name="MaxBackupIndex" value="1"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p %t %c - %m%n" />
        </layout>
    </appender>
    
    <appender name="socketLogger" class="org.apache.log4j.net.SocketAppender">
        <param name="RemoteHost" value="localhost"/>
        <param name="Port" value="4560"/>
        <param name="LocationInfo" value="false"/>
    </appender>
    
    <appender name="xml" class="org.apache.log4j.FileAppender">
        <param name="File" value="jats-diff_log.xml"/>
        <param name="Append" value="false"/>
        <layout class="org.apache.log4j.xml.XMLLayout">
        </layout>
    </appender>
    
    <appender name="lf5" class="org.apache.log4j.lf5.LF5Appender">
        <param name="File" value="jats-diff_log.xml"/>
        <layout class="org.apache.log4j.lf5.LF5Appender">
        </layout>
    </appender>
    
    <root>
        <priority value ="FATAL"></priority>
        <appender-ref ref="console"></appender-ref>
    </root>

</log4j:configuration>
